# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
bin

# Vscode
.devcontainer
.vscode

# Trace Coordinator Configuration
.trace-coordinator.yml


# Trace Sample Directory
traces